{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

  <section class="about-us">
    <div class="about">
      <img src="https://i.pinimg.com/originals/84/56/05/8456050e29d296e821f6fbfc78335244.jpg" class="pic">
      <div class="text">
        <h2>About Us</h2>
        <h5>Where Faith Meets Fashion - <span>Our Hijab Heritage</span></h5>
          <p>Welcome to The Hijabis, where we bring you an exquisite collection of hijabs that reflect your unique personality. With a passion for empowering women through modest fashion, we curate each hijab with utmost care, ensuring the finest quality and comfort. Embrace the beauty of hijab as a symbol of grace and strength, while exploring an array of colors, fabrics, and patterns that resonate with your inner essence. Elevate your style and embrace your faith, because at The Hijabis, it's not just about wearing a hijab; it's about embracing your authentic self.</p>
        <div class="data">
        <a href="/" class="hire">Shop Now</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
{% endblock body %}
